path "kv/data/app/backend/*" {
  capabilities = ["read"]
}

path "kv/metadata/app/backend/*" {
  capabilities = ["list"]
}

path "kv/data/app/redis/*" {
  capabilities = ["read"]
}

path "kv/metadata/app/redis/*" {
  capabilities = ["list"]
}

path "kv/data/identity/backend/*" {
  capabilities = ["read"]
}

path "kv/metadata/identity/backend/*" {
  capabilities = ["list"]
}

path "kv/data/backup/backend/*" {
  capabilities = ["read"]
}

path "kv/metadata/backup/backend/*" {
  capabilities = ["list"]
}

path "database/creds/backend-app" {
  capabilities = ["read"]
}

path "database/static-creds/backend-app" {
  capabilities = ["read"]
}