path "kv/data/identity/keycloak/*" {
  capabilities = ["read"]
}

path "kv/metadata/identity/keycloak/*" {
  capabilities = ["list"]
}

path "database/creds/keycloak-app" {
  capabilities = ["read"]
}

path "database/static-creds/keycloak-app" {
  capabilities = ["read"]
}