{
  "user_claim": "sub",
  "groups_claim": "groups",
  "bound_claims": {
    "groups": [
      "vault-operators"
    ]
  },
  "bound_audiences": [
    "vault-operators"
  ],
  "oidc_scopes": [
    "openid",
    "profile",
    "email",
    "groups"
  ],
  "allowed_redirect_uris": [
    "http://127.0.0.1:8250/oidc/callback",
    "http://localhost:8250/oidc/callback",
    "https://vault.example.com/ui/vault/auth/auth/oidc-operators/oidc/callback"
  ],
  "claim_mappings": {
    "email": "email",
    "preferred_username": "username"
  },
  "token_policies": [
    "operator-day2-admin"
  ]
}